[submodule "broadcast"]
	path = broadcast
	url = git@github.com:dustin/go-broadcast.git
[submodule "client"]
	path = client
	url = git@github.com:google/go-github.git
[submodule "oauth2"]
	path = oauth2
	url = https://github.com/golang/oauth2.git
